<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Roofland</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">

            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>

            <div class="navbar-collapse collapse" >
                <ul class="nav navbar-nav hidden-lg hidden-md hidden-sm visible-xs">
                    <li>@Html.ActionLink("עמוד הבית", "Index", "Home")</li>
                    <li>@Html.ActionLink("מי אנחנו", "About", "Home")</li>
                    <li>@Html.ActionLink("צור קשר", "Contact", "Home")</li>
                </ul>
            </div>


            <div class="row hidden-xs">
                <div class="col-centered">
                    <section class="bgcolor ">
                        <nav class="cl-effect">
                            <a href='@Url.Action("Index", "Home")'><span data-hover="עמוד הבית">עמוד הבית</span></a>
                            <a href='@Url.Action("About", "Home")'><span data-hover="מי אנחנו">מי אנחנו</span></a>
                            <a href='@Url.Action("Contact", "Home")'><span data-hover="צור קשר">צור קשר</span></a>
                        </nav>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()

        <footer id="footer">
            <p>&copy; @DateTime.Now.Year כל הזכויות שמורות ל- RoofLand</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
