<!DOCTYPE html>
<html dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Roofland</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @* TODO -black text link after effect, center text, make width smaller, check for extra effect after load*@
                <section class="bgcolor">
                    <nav class="cl-effect">
                        <a href="#"><span data-hover="צור קשר">צור קשר</span></a>
                        <a href="#"><span data-hover="מי אנחנו">מי אנחנו</span></a>
                        <a href="#"><span data-hover="קישור 1">קישור 1</span></a>
                        <a href="#"><span data-hover="קישור 2">קישור 2</span></a>
                        <span data-hover="מי אנחנו"> @Html.ActionLink("מי אנחנו", "About", "Home", new { @class="a-Hover"})</span>
                    </nav>
                </section>

            </div>
            @*
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">


                        <li>@Html.ActionLink("מי אנחנו", "About", "Home")</li>
                        <li>@Html.ActionLink("צור קשר", "Contact", "Home")</li>
                        <li>@Html.ActionLink("עמוד הבית", "Index", "Home")</li>
                    </ul>
                </div>

            *@
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <footer id="footer">
            <p>&copy; @DateTime.Now.Year כל הזכויות שמורות ל- RoofLand</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
